[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]

pytest = "==5.3.2"
pylint = "==2.4.4"
pytest-cov = "==2.7.1"
pytest-parallel = "==0.1.0"
codecov = "==2.0.15"
twine = "*"
mypy = "*"


[packages]

gitpython = ">=3.1.1"


[dev-packages.auto-tag]

editable = true
path = "."


[packages.auto-tag]

editable = true
path = "."
