[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.0.0"
pylint = "==2.5.3"
pytest-cov = "==2.10.0"
pytest-parallel = "==0.1.0"
codecov = "==2.1.8"
twine = "*"
auto-tag = {editable = true,path = "."}
mypy = "*"
importlib_metadata = "*"

[packages]
auto-tag = {editable = true,path = "."}
gitpython = ">=3.1.1"
