name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
    - cron: '0 8 * * *'

jobs:
  lint:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade pipenv
        pipenv --python python${{ matrix.python-version }} install --dev --skip-lock
    - name: Start linting
      run: |
        pipenv run pylint --rcfile=.pylintrc auto_tag

  mypy:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade pipenv
        pipenv --python python${{ matrix.python-version }} install --dev --skip-lock
    - name: MyPy type checking
      # Advisory: 33 pre-existing type errors need fixing separately
      continue-on-error: true
      run: |
        pipenv run mypy auto_tag

  pytest-coverage:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10', '3.11']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade pipenv
        pipenv --python python${{ matrix.python-version }} install --dev --skip-lock
    - name: Check coverage
      env:
        CODECOV_TOKEN : ${{ secrets.CODECOV_TOKEN }}
      run: |
        pipenv run pytest --cov=auto_tag
        pipenv run codecov
